# Ignorer les dossiers node_modules
node_modules/
# Ignorer les fichiers de build
dist/
# Ignorer les images (scans et icônes)
frontend/src/assets/images/*
frontend/src/assets/icons/*
# Ignorer fichiers sensibles
backend/.env
backend/mangaverse-e07e3-firebase-adminsdk-fbsvc-c807ab9231.jsonbackend/mangaverse-e07e3-firebase-adminsdk-fbsvc-c807ab9231.json
